.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header {
  z-index: 10;
}
header svg {
  margin: 10px;
}
header li {
  transition: all 1s ease;
}
header li a:hover {
  font-weight: 500;
  transform: scale(105%);
}

footer {
  z-index: 10;
  margin-top: 3rem;
  color: #f5f5f5;
  background-color: #218bff;
  font-family: "Montserrat";
}
footer p {
  font-size: 14px;
  margin-bottom: 30px;
}
footer ul {
  list-style-type: none;
  padding: 0px;
}
footer ul li {
  margin: 0px 40px 10px 0px;
}
footer ul li a {
  color: inherit;
  text-decoration: none;
}
footer ul li:hover {
  font-weight: 500;
}
footer svg {
  margin-right: 40px;
}
footer svg:hover {
  transform: scale(120%);
  animation: transform ease;
  fill: white;
}

body {
  padding-top: 60px;
  font-family: "Montserrat";
  background-color: rgb(255, 255, 255);
  background-image: radial-gradient(at 73% 63%, rgb(241, 243, 246) 0px, transparent 70%), radial-gradient(at 31% 36%, rgb(244, 238, 240) 0px, transparent 70%);
  max-width: 100%;
  animation: gradient 13s ease infinite;
  background-size: 200% 200%;
}
@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 70%;
  }
  100% {
    background-position: 0% 20%;
  }
}
body Header {
  font-family: "Montserrat";
}
body section {
  height: auto;
  padding-top: 150px;
}
body section .sectionTop {
  margin-bottom: 50px;
}
body .sectionMain {
  height: fit-content;
}
body main {
  font-family: "Montserrat";
}
body main h1 {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: bolder;
  background-image: linear-gradient(45deg, #3b82f6, #c084fc, #db2777);
  color: transparent;
  -webkit-background-clip: text;
  /* Edge, Chrome */
  background-clip: text;
  /* Safari, FF */
  animation: title_gradient 4s linear infinite;
  background-size: 100% 100%;
}
@keyframes title_gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
body main h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
  color: transparent;
  -webkit-background-clip: text;
  /* Edge, Chrome */
  background-clip: text;
  /* Safari, FF */
  background-image: linear-gradient(to right, #218bff, #c084fc, #db2777);
}
body main h5 {
  margin-bottom: 30px;
}
body main p {
  font-size: 14px;
}
body main #home {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 768px;
}
body main #home .intro {
  margin-bottom: 20px;
}
body main #home a {
  color: inherit;
  text-decoration: none;
}
body main #home svg {
  margin: 0px 0px 0px 5px;
}
body main #home button:hover {
  background-color: #db2777;
}
body main #home .profile {
  animation: float 6s ease-in-out infinite;
}
body main #home .profile-img {
  background: url(../image/selfie.jpg);
  background-size: cover;
  background-position: center center;
  width: 250px;
  height: 340px;
  animation: bubble 10s linear infinite;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.553);
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes bubble {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
@media only screen and (max-width: 650px) {
  body main #home {
    flex-direction: column-reverse;
    margin: auto;
    align-items: center;
    gap: 30px;
  }
}
body #about {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
  /*border: 1px solid green;*/
}
body #about p {
  max-width: 450px;
  margin-bottom: 50px;
  line-height: 1.5;
  margin-bottom: 10px;
}
body #about svg {
  margin: 0px 0px 3px 5px;
}
body #about button:hover {
  background-color: #db2777;
}
body #skills {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
  /*border: 1px solid green;*/
}
body #skills .skillGroup {
  margin-bottom: 30px;
}
body #skills .skillGroup img,
body #skills .skillGroup svg {
  margin: 10px;
  width: 40px;
  transition: all 0.5s ease;
}
body #skills .skillGroup img:hover,
body #skills .skillGroup svg:hover {
  transform: scale(120%);
}
body #work_experiences {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
  /*border: 1px solid green;*/
}
body #work_experiences ul {
  margin-bottom: 20px;
  justify-content: center;
}
body #work_experiences a {
  color: black;
  background: none;
}
body #work_experiences a:hover {
  color: #218bff;
  font-weight: 600;
  fill: #218bff;
}
body #work_experiences a svg {
  margin: 0px 5px 3px 0px;
}
body #work_experiences .nav-pills .nav-link.active,
body #work_experiences .nav-pills .show > .nav-link {
  color: #218bff;
  fill: #218bff;
  font-weight: 600;
  background: none;
}
body #work_experiences .tab-content .tab-pane {
  max-width: 500px;
  /*background-color: #CCC;*/
}
body #work_experiences .tab-content .tab-pane .qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  text-align: left;
}
body #work_experiences .tab-content .tab-pane .qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #218bff;
  border-radius: 50%;
}
body #work_experiences .tab-content .tab-pane .qualification__line {
  display: block;
  width: 1.3px;
  height: 100%;
  background-color: #218bff;
  transform: translate(6px, -7px);
}
body #work_experiences .tab-content .tab-pane .qualification__title {
  font-weight: bold;
  margin-top: 10px;
}
body #work_experiences .tab-content .tab-pane .qualification__subtitle,
body #work_experiences .tab-content .tab-pane .qualification__calendar {
  color: gray;
}
body #work_experiences .tab-content .tab-pane p {
  font-size: 12px;
}
body #work_experiences .tab-content .tab-pane svg {
  margin: 0px 5px 3px 0px;
}
body #projects {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid green;*/
}
body #projects h2 + h6 {
  text-align: center;
}
body #projects .swiper .swiper-slide {
  padding: 0px 50px 0px 50px;
  display: flex;
  justify-content: center;
  align-items: top;
  margin-bottom: 30px;
}
body #projects .swiper .card {
  flex-direction: column;
  width: auto;
  background-color: rgba(255, 255, 255, 0.4666666667);
  overflow: hidden;
}
body #projects .swiper .card h5 {
  margin: 10px 0;
}
body #projects .swiper .card h6 {
  font-size: 14px;
  margin-bottom: 20px;
}
body #projects .swiper .card .project_preview {
  height: 415px;
  overflow: hidden;
}
body #projects .swiper .card .project_preview img {
  object-fit: fill;
}
body #projects .swiper .text-body-secondary {
  padding-bottom: 1rem;
}
body #projects .swiper .text-body-secondary img {
  width: 22px;
  height: 22px;
}
body #projects .swiper .project-preview + img {
  object-fit: cover;
}
body #projects .swiper a {
  transition: box-shadow 0.3s;
}
body #projects .swiper a:link {
  text-decoration: none;
}
body #projects .swiper a:visited {
  text-decoration: none;
}
body #projects .swiper a:hover {
  text-decoration: none;
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
}
body #projects .swiper a:active {
  text-decoration: none;
}

.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: hard-light;
  top: 0;
  left: 0;
  z-index: -1;
}
.cursor .circle {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  filter: blur(5px);
  background-color: #ffffff;
}

.bubble-wrap {
  position: fixed;
  height: 100%;
  width: 100vw;
  z-index: -1;
}
.bubble-wrap canvas {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 650px) {
  .projects .swiper .swiper-slide {
    padding: 0px;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "none";
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: "none";
  }
  .card {
    height: fit-content;
  }
}

/*# sourceMappingURL=styles.css.map */
