// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


@import './variables.scss';
@import './mixins.scss';
@import './header.scss';
@import './footer.scss';




body {
    padding-top: 60px;
    font-family: "Montserrat";
    background-color: rgb(255, 255, 255);
    background-image:
        radial-gradient(at 73% 63%, rgb(241, 243, 246) 0px, transparent 70%),
        radial-gradient(at 31% 36%, rgb(244, 238, 240) 0px, transparent 70%);
    max-width: 100%;
    animation: gradient 13s ease infinite;
    background-size: 200% 200%;


    @keyframes gradient {
        0% {
            background-position: 0% 20%;
        }

        25% {
            background-position: 100% 50%;
        }

        50% {
            background-position: 50% 70%;
        }

        100% {
            background-position: 0% 20%;
        }
    }

    Header {
        font-family: "Montserrat";
    }

    section {
        height: auto;
        padding-top: 150px;

        .sectionTop {
            margin-bottom: 50px;
        }
    }



    .sectionMain {
        height: fit-content;
    }

    main {
        font-family: "Montserrat";

        h1 {
            font-family: "Montserrat";
            font-size: 64px;
            font-weight: bolder;

            background-image: linear-gradient(45deg, #3b82f6, #c084fc, #db2777);
            color: transparent;
            -webkit-background-clip: text;
            /* Edge, Chrome */
            background-clip: text;
            /* Safari, FF */
            animation: title_gradient 4s linear infinite;
            background-size: 100% 100%;
        }

        @keyframes title_gradient {
            0% {
                background-position: 0%;
            }

            100% {
                background-position: 100%;
            }
        }


        h2 {
            font-size: 42px;
            font-weight: 600;
            margin-bottom: 10px;

            color: transparent;
            -webkit-background-clip: text;
            /* Edge, Chrome */
            background-clip: text;
            /* Safari, FF */
            background-image: linear-gradient(to right,
                    #218bff,
                    #c084fc,
                    #db2777);
        }

        h5 {
            margin-bottom: 30px;
        }

        p {
            font-size: 14px;
        }




        #home {
            display: flex;
            flex-direction: row;
            margin: auto;
            flex-wrap: wrap;
            justify-content: space-evenly;
            max-width: $width_formal;

            .intro {
                margin-bottom: 20px;
            }

            a {
                color: inherit;
                text-decoration: none;
            }

            svg {
                margin: 0px 0px 0px 5px;
            }

            button:hover {
                background-color: #db2777;
            }

            .profile {
                animation: float 6s ease-in-out infinite;
            }

            .profile-img {
                background: url(../image/selfie.jpg);
                background-size: cover;
                background-position: center center;
                width: 250px;
                height: 340px;
                animation: bubble 10s linear infinite;
                box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.553);


            }

            @keyframes float {
                0% {
                    transform: translatey(0px);
                }

                50% {
                    transform: translatey(-20px);

                }

                100% {
                    transform: translatey(0px);
                }
            }

            @keyframes bubble {
                0% {
                    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                }

                50% {
                    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
                }

                100% {
                    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                }
            }
        }



        @media only screen and (max-width: 650px) {

            #home {
                flex-direction: column-reverse;
                margin: auto;
                align-items: center;
                gap: 30px;
            }
        }
    }

    #about {
        text-align: center;
        @include boxCol;


        p {
            max-width: 450px;
            margin-bottom: 50px;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        svg {
            margin: 0px 0px 3px 5px;
        }

        button:hover {
            background-color: #db2777;
        }
    }

    #skills {
        text-align: center;
        @include boxCol;

        .skillGroup {
            margin-bottom: 30px;


            img,
            svg {
                margin: 10px;
                width: 40px;
                transition: all 0.5s ease;

                &:hover {
                    transform: scale(120%);
                }
            }
        }
    }

    #work_experiences {
        text-align: center;
        @include boxCol;

        ul {
            margin-bottom: 20px;
            justify-content: center;
        }

        a {
            color: black;
            background: none;

            &:hover {
                color: $color_blue;
                font-weight: 600;
                fill: $color_blue;
            }

            svg {
                margin: 0px 5px 3px 0px;
            }
        }


        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            color: $color_blue;
            fill: $color_blue;
            font-weight: 600;
            background: none;
        }

        .tab-content {

            .tab-pane {
                max-width: 500px;
                /*background-color: #CCC;*/

                .qualification__data {
                    display: grid;
                    grid-template-columns: 1fr max-content 1fr;
                    column-gap: 1.5rem;
                    text-align: left;
                }

                .qualification__rounder {
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    background-color: $color_blue;
                    border-radius: 50%;
                }

                .qualification__line {
                    display: block;
                    width: 1.3px;
                    height: 100%;
                    background-color: $color_blue;
                    transform: translate(6px, -7px);
                }

                .qualification__title {
                    font-weight: bold;
                    margin-top: 10px;
                }

                .qualification__subtitle,
                .qualification__calendar {
                    color: gray;
                }

                p {
                    font-size: 12px;
                }

                svg {
                    margin: 0px 5px 3px 0px;
                }
            }
        }
    }


    #projects {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*border: 1px solid green;*/

        h2+h6 {
            text-align: center;
        }

        .swiper {

            .swiper-slide {
                padding: 0px 50px 0px 50px;
                display: flex;
                justify-content: center;
                align-items: top;
                margin-bottom: 30px;
            }

            .card {
                flex-direction: column;
                width: auto;
                background-color: #ffffff77;
                overflow: hidden;

                h5 {
                    margin: 10px 0;
                }

                h6 {
                    font-size: 14px;
                    margin-bottom: 20px;
                }

                .project_preview {
                    height: 290px;
                    overflow: hidden;

                    img {
                        object-fit: fill;
                    }
                }
            }

            .text-body-secondary {
                padding-bottom: 1rem;

                img {
                    width: 22px;
                    height: 22px;
                }
            }

            .project-preview+img {
                object-fit: cover;
            }

            a {
                transition: box-shadow .3s;
            }

            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                box-shadow: 0 0 15px rgba(33, 33, 33, .2);
            }

            a:active {
                text-decoration: none;
            }
        }
    }
}



.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: hard-light;
    top: 0;
    left: 0;
    z-index: -1;

    .circle {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        filter: blur(5px);
        background-color: #ffffff;
    }
}


.bubble-wrap {
    //overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100vw;
    z-index: -1;


    //background-image: linear-gradient(-206deg, #835EFF 0%, #FF008D 100%);
    //background-image: linear-gradient(-206deg, #cbd6ff 0%, #ffb7de 100%);

    canvas {
        width: 100%;
        height: 100%;
        //filter: blur(10px);
    }
}




@media only screen and (max-width: 650px) {


    .projects .swiper .swiper-slide {
        padding: 0px;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        content: 'none';
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        content: 'none';
    }

    .card {
        height: fit-content;
    }

    body main #projects .swiper .card .project_preview {
        height: 415px;
    }
}